@charset "utf-8";

body {
	background-color:#e6e6ec;
}
.lukkarit {
	width:	100%;
	margin: auto;
	padding: 0px;
	position: relative;
	margin-top:15px;
}


#gotello1	{
	margin-right:10px;
	margin-top: 10px;
	position: relative;
	float:left;
	width: 100%;
	height: 443px;
	background-color: #f4f5fc;
	box-shadow:0px 17px 22px -20px rgba(87, 87, 87,1);
	}

#gotello2 {
	position: relative;
	float:left;
	width: 100%;
	height: 443px;
	background-color: #f4f5fc;
	margin-bottom:30px;
	margin-top: 10px;
	box-shadow:0px 17px 22px -20px rgba(87, 87, 87,1);
}
.lukkariLisays:hover{
	max-height:130%;
}
.qurssit {
	display:block;
	border-collapse: collapse;
	background-color: #f4f5fc;
	height:400px;
	overflow-y: scroll;
	overflow-x: scroll;
}

#passs {
	width: 95%;
	margin: auto;
	position: relative;
	height: 350px;
	background-color:#f4f5fc;
	padding-left: 5px;
}

.ylarivi {
	width: 80%;
	margin: auto;
	position: relative;
	height: 350px;
	background-color:#f4f5fc;
	padding-left: 15px;
	font-family: 'Unna', serif;
	font-size: 17px;
}
thead{
	tr {
	display: block;
	position: relative;
	}
}

.otsikko {
	float:	left;
	width:	100%;
	height:55px;
	
	margin-top: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}

h1	{
	margin-top:10px;
	text-align:center;
	font-family: 'Unna', serif;;
	font-size: 35px;
	font-weight: 700;
}

.kurs{
	
}

.qurssit tr td{
	border: 0px;
} 

.qurssit tr{
	border-top: solid lightgrey 1px;
	height: 34px;
	cursor:pointer;
}

.paivat {
	float:	left;
	width:	100%;
	height: 20px;
	margin: 0px;
	padding: 0px;
	border: solid black 1px;
    border-collapse: collapse;


}

.kellonaika {
	float:	left;

	border: solid black 1px;

}

.tunnit { /*kellon aikojen laatikko */
	float:	left;
	height: 351px;
	width: 16.65%;
	box-sizing: border-box;
	border-right-style: solid;
	border-right-color:lightgrey;
	border-right-width:1px;
}

.tunti {
	float:	left;
	height: 26px;
	width: 100%;
	border: solid #f4f5fc 1px;
	border-top-style: solid;
	border-top-color:lightgrey;
	border-top-width:1px;
	text-align: center;	

}
.tunti:first-child {
	border-top-color:#f4f5fc;
}
.lukkaripalsta { /**/
	float:	left;
	height: 351px;
	width: 16.65%;
	border-right-style: solid;
	border-right-color:lightgrey;
	border-right-width:1px;
	box-sizing: border-box;
	cursor:pointer;

}
.lukkaripalsta:last-child {
	border-bottom-color:#f4f5fc;
	border-right-color:#f4f5fc;
}

.lukkaripalsta2 { /**/
	float:	left;
	height: 351px;
	width: 16.65%;
	border-right-style: solid;
	border-right-color:lightgrey;
	border-right-width:1px;
	box-sizing: border-box;
}

.lukkaripalsta2:last-child {
	border-bottom-color:#f4f5fc;
	border-right-color:#f4f5fc;
}

.lukkaripalsta2:first-child {
	border-bottom-color: lightgrey;
}
.palsta15min{
	width: 100%;
	height: 6.75px;
}


.paivat tr{
	margin: 0px;
	padding: 0px;
}

.paivat tr td
{
	margin:0px;
	padding:0px;
	width:16.65%;
	border: solid 1px black;
	text-align: center;
}
.paivat tr td:first-child {
	border-left-color:#f4f5fc;
}
.paivat tr td:last-child {
	border-right-color:#f4f5fc;
}
.lukkariLisays{ /* Ma */
	border: 1px solid black;
	position: relative;
	width: 16.5%;
	text-align: center;
	background-blend-mode: darken;
	z-index: 1;
	border-radius: 6px;
	position: absolute;
}

#myTable tr{
	width: 100% !important;
}
#searchfield{
	width: 50%;
	height: 10px;
}

input[data-course-name]{
	display: block;
}

.green
{
	background-color: lightGreen;
	border: solid 1px lightGreen;
}

.yellow
{
	background-color: yellow;
	border: solid 1px yellow;
	
}

.red
{
	background-color: red;
	border: solid 1px red;
}